<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
  </head>
  <body>
    <div id="app">
      <h1>v-model</h1>
      <article>
        <h2>1. basic form binding</h2>
        <input type="text" v-model="message" />
        <p>입력한 값 - {{message}}</p>
      </article>
      <article>
        <h2>checkbox</h2>
        <input type="checkbox" v-model="isChecked" id="test1" />
        <label for="test1">checkbox1</label>
        <p>상태 표시 : <span>{{isChecked ? '체크됨' : '체크안됨'}}</span></p>
      </article>
      <article>
        <h2>다중 체크박스</h2>
        <input type="checkbox" value="somy" v-model="checkNames" />
        <label for="Somy">Somy</label>
        <input type="checkbox" value="semy" v-model="checkNames" />
        <label for="Semy">Semy</label>
        <input type="checkbox" value="tom" v-model="checkNames" />
        <label for="Tom">Tom</label>
        <p>Choosen name : {{checkNames}}</p>
      </article>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp } = Vue;

      let vm = createApp({
        name: 'App',
        data() {
          return {
            message: '초깃값',
            isChecked: false,
            checkNames: [],
          };
        },
      });
      vm.mount('#app');
    </script>
  </body>
</html>
